body{
    margin: 0px;
    font-size: 20px;
}

header{
    background-image: linear-gradient(to right,#0D19A3,#080F5B);
    width: 100%;
    height: 100vh;
}

.kontener{
    height: 76vh;
    width: 76vw;
    position: absolute;
    top: 12vh;
    right: 12vw;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
    background-image: linear-gradient(to right,#080F5B,#0D19A3);
}
#greeting{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

h1{
    margin: 0px;
    font-size: 100px;
    color: #15DB95;
    filter: opacity(70%);
    text-shadow: 3px 3px #F4e4C1;
}

#photo-header{
    width: 40%;
    height: 100%;
    filter: opacity(70%);
}

/* .......................Nav............................................... */

nav{
    background-image: linear-gradient(to left,#0b8793,#360033);
    height: 10vh;
}

/* ....................................About_me............................... */

#aboutMe{
    height: 110vh;
    background-image: url('photo/Uniwersytet.png');
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.content-aboutMe{
    height: 76vh;
    width: 76vw;
    position: relative;
    top: 12vh;
    left: 12vw;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.picture-border{
    overflow: hidden;
    width: 270px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
}

.picture-border img{
    transition: all 5s ease-in-out;    
}

#photo-me{
    width: 270px;
    height: 440px;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
}

.aboutMe-info{
    width: 70%;
    height: 440px;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.content-aboutMe h3{
    height: 10vh;
}

.content-aboutMe p{
    margin-left: 5%;
    margin-right: 5%;   
} 

/* ...................................................................... */
#abilities h3{
    height: 10vh;
    text-align: center;
    padding-top: 5vh;
    color: white;
}

#CSS-info,#JavaScript-info,#MySQL-info,#Net-info,#AutoCad-info{
    display: none;
    background-image: linear-gradient(to left,#080F5B,#0D19A3);

}

#abilities{
    background-image: linear-gradient(to right,#0D19A3,#080F5B);
    width: 100%;
    height: 100vh;
}

.kontener2{
    height: 76vh;
    width: 76vw;
    position: relative;
    top: 12vh;
    left: 12vw;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
    background-image: linear-gradient(to right,#080F5B,#0D19A3);
}

#portfolio{
    height: 110vh;
    background-image: url('photo/sciana.png');
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

progress {
    height: 20px;
    float: left;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 9px;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

progress::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(right,#080F5B,#0D19A3);
  
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

span {
    float: left;
}

.listOfTechnologies{
    color: white;
    list-style-type: none;
    width: 100%;
    height: 100%;   
    text-align: center; 
}
td:first-child{
    width: 50%;
}
/* td:last-child{
    text-align: center;
} */

/* tr:nth-child(even) {
    background-image: linear-gradient(to left,#080F5B,#0D19A3);
} */
/* progress:after {
    content: '%'attr(value);
} */

/* ............................................................................................... */

.content-aboutMe1{
    height: 76vh;
    width: 76vw;
    position: relative;
    top: 17vh;
    left: 12vw;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icons{
    border-radius: 45px;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.gird-container{
    display: grid;  
    font-size: 27px;
    width: 100%;
}

#gird-item{
    grid-column: 1 / span 5;
    margin-bottom: 10%;
}

#gird-item1{
    grid-column: 1 / span 5;
    margin-bottom: 10%;
}

.item23{
    margin-left: auto;
    margin-right: auto;
}

#git{
    grid-area: 3 / 2 / 4 / 3;
}

#gitlab{
    grid-area: 3 / 4 / 4 / 5;
}

.link{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

i:hover{
    color: white;
    text-decoration:none; 
    cursor:pointer;
}

#contact{
    background-image: linear-gradient(to right,#0D19A3,#080F5B);
    width: 100%;
    height: 80vh;
}

.kontener3{
    height: 56vh;
    width: 76vw;
    position: relative;
    top: 12vh;
    left: 12vw;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
    background-image: linear-gradient(to right,#080F5B,#0D19A3);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gird-item2{
    grid-column: 1 / span 5;
    margin-bottom: 5%;
}

#gird-item3{
    grid-column: 1 / span 3;
    margin-bottom: 5%;
}

#gird-item4{
    grid-column: 1 / span 2;
    margin-bottom: 5%;
}

#phoneShow{
    width: 100%;
    height: 100%;
    margin-top: 50%;
    overflow: hidden;
}

/* .item23:nth-child(even) {
    
} */

footer{
    background-image: linear-gradient(to left,#0b8793,#360033);
    width: 100%;
    height: 10vh;
    color: white;
    padding-top: 3vh;
    text-align: center;
}

#ScroolButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
