body{
    margin: 0px;
    font-size: 20px;
}

header{
    background-image: linear-gradient(to right,#0D19A3,#080F5B);
    width: 100%;
    height: 100vh;
}

.kontener{
    height: 76vh;
    width: 76vw;
    position: absolute;
    top: 12vh;
    right: 12vw;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
    background-image: linear-gradient(to right,#080F5B,#0D19A3);
}
#greeting{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

h1,h2{
    margin: 0px;
    font-size: 100px;
    color: #15DB95;
    filter: opacity(70%);
    text-shadow: 3px 3px #F4e4C1;
}

#photo-header{
    width: 40%;
    height: 100%;
    filter: opacity(70%);
}

nav{
    background-image: linear-gradient(to left,#0b8793,#360033);
    height: 10vh;
}

#aboutMe{
    height: 110vh;
    background-image: url('photo/Uniwersytet.png');
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#photo-me{
    width: 12vw;
    height: 40vh;
    transform: rotate(-10deg);
    z-index: 1;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
    /* zoom in jquery */
}

.content-aboutMe{
    height: 76vh;
    width: 76vw;
    position: absolute;
    top: 122vh;
    right: 12vw;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

.content-aboutMe p{
    margin-left: 5%;
    margin-right: 5%;   
}

#abilities{
    background-image: linear-gradient(to right,#0D19A3,#080F5B);
    width: 100%;
    height: 100vh;
}

.kontener2{
    height: 76vh;
    width: 76vw;
    position: absolute;
    top: 232vh;
    right: 12vw;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
    background-image: linear-gradient(to right,#080F5B,#0D19A3);
}

#portfolio{
    height: 110vh;
    background-image: url('photo/sciana.png');
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

progress {
    height: 20px;
}

.listOfTechnologies{
    color: greenyellow;
    list-style-type: none;
    width: 100%;
    height: 100%;   
    text-align: center; 
}
td:first-child{
    width: 50%;
}
td:last-child{
    text-align: left;
}

tr:nth-child(even) {
    background-image: linear-gradient(to left,#080F5B,#0D19A3);
}
/* progress:after {
    content: '%'attr(value);
} */

.content-aboutMe1{
    height: 76vh;
    width: 76vw;
    position: relative;
    top: 17vh;
    left: 12vw;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icons{
    border-radius: 45px;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.gird-container{
    display: grid;  
    font-size: 27px;
    width: 100%;
}

#gird-item1{
    grid-column: 1 / span 2;
    margin-bottom: 10%;
}

.item23{
    margin-left: auto;
    margin-right: auto;
}

.link{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

i:hover{
    color: white;
    text-decoration:none; 
    cursor:pointer;
}

#contact{
    background-image: linear-gradient(to right,#0D19A3,#080F5B);
    width: 100%;
    height: 80vh;
}

footer{
    background-image: linear-gradient(to left,#0b8793,#360033);
    width: 100%;
    height: 10vh;
    color: white;
    padding-top: 3vh;
    text-align: center;
}

.kontener3{
    height: 56vh;
    width: 76vw;
    position: relative;
    top: 12vh;
    left: 12vw;
    box-shadow: -3px 2px 87px 49px rgba(0,0,0,0.43);
    background-image: linear-gradient(to right,#080F5B,#0D19A3);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gird-item2{
    grid-column: 1 / span 5;
    margin-bottom: 5%;
}

#phoneShow{
    width: 100%;
    height: 100%;
    margin-top: 50%;
    overflow: hidden;
}